extends ../layouts/base

append vars
    - title = 'Передать показания';
    - type = 'lk';
block content
    +b.transmit-data.section
        +e.wrap.wrap
            +e.title.text-l ПЕРЕДАТЬ ПОКАЗАНИЯ
            +e.content
                +b.FORM.card.meter-readings-form
                    +e.title.text-m Показания счетчика
                    +e.input-wrap
                        +e.LABEL.label.h4
                            +e.INPUT.input.h4(type="number" name="meter_readings" placeholder="0" value="36 589")
                            +e.SPAN.input-text.h5 КВт / ч
                    +e.btn.btn._main Получить показания
                +b.card
                    +e.title.text-m Последние показания
                    +e.input-wrap
                        +e.LABEL.label.h4
                            +e.INPUT.input.h4(type="text" name="meter_readings" placeholder="Нет данных" value="36 385" disabled)
                            +e.SPAN.input-text.h5 КВт / ч
                    +e.date 22 октября 2020