.modal.modal-log-in
    .modal_content
        .modal__head
            .tab-panel.tab-panel--row
                .tab-panel_title(data-tab-panel="log-in") Вход
                .tab-panel_title.tab-panel_title-last(data-tab-panel="register").active Регистрация
            span.close(data-close="close") &#215;
        .modal__body
            .tab-all-content
                .tab-content.tab-content--log-in(data-tab-content="log-in")
                    form.form.log-in-form
                        //- .form-group
                        //-     .form-group_title Войти через социальные сети
                        //-     .form-group_data.form-group_data--row
                        //-         button.btn.form-group_btn.form-group_btn--vk Вконтакте
                        //-         button.btn.form-group_btn.form-group_btn--fb Facebook
                        .form-group
                            //- .form-group_title или
                            .form-group_data.form-group_data--col
                                //- input(type="text" name="email" placeholder="Ваш email").input-login
                                input(type="tel" name="phone" placeholder="Введите телефон").input-tel
                                input(type="password" name="password" placeholder="Введите пароль").input-pass
                            .form-group_title 
                                a(href="#").remind-password.link--main Забыли пароль?
                        .form-group
                            .form-group_data
                                button.btn.btn_main Войти
                .tab-content.tab-content--register(data-tab-content="register").active
                    form.form.register-form
                        //- .form-group
                        //-     .form-group_title Регистрация через социальные сети
                        //-     .form-group_data.form-group_data--row
                        //-         button.btn.form-group_btn.form-group_btn--vk Вконтакте
                        //-         button.btn.form-group_btn.form-group_btn--fb Facebook
                        .form-group
                            //- .form-group_title или
                            .form-group_data.form-group_data--col
                                //- input(type="text" name="name" placeholder="Введите имя").input-name
                                //- input(type="email" name="email" placeholder="Введите e-mail*").input-email
                                input(type="tel" name="phone" placeholder="Введите телефон").input-tel
                                input(type="password" name="password" placeholder="Введите пароль").input-pass
                                input(type="password" name="password2" placeholder="Повторите пароль").input-repeat-pass
                        .form-group
                            .form-group_data.checkbox-container
                                .checkbox-group
                                    input(type="checkbox" id="agree" name="agreement")
                                    label(for="agree").checkbox 
                                        .checkbox-icon
                                        .checkbox-text Я согласен с #[a(href="/terms-of-service").link--main пользовательским соглашением]
                        .form-group
                            .form-group_data
                                button.btn.btn_main Далее
include password-recovery