.modal.modal-password-recovery
    .modal_content
        .modal__head
            .tab-panel.tab-panel--row
                .tab-panel_title(data-tab-panel="recovery").active Восстановление пароля
            span.close(data-close="close") &#215;
        .modal__body
            .tab-all-content
                .tab-content.tab-content--recovery(data-tab-content="recovery").active
                    form.form.password-recovery-form
                        .form-group.password-recovery_step1
                            .form-group_data
                                input(type="tel" name="phone" placeholder="Введите телефон").input-tel
                            .form-group_title На ваш телефон будет отправлен код
                            button.btn.btn_main Отправить код
                        .form-group.password-recovery_step2
                            .form-group_data
                                input(type="text" name="code" placeholder="Введите код").input-code
                            .form-group_title На ваш телефон отправлен код
                            button.btn.btn_main Проверить код
                        .form-group.password-recovery_step3
                            .form-group_data.form-group_data--col
                                input(type="password" name="password" placeholder="Введите новый пароль").input-pass
                                input(type="password" name="password2" placeholder="Повторите пароль").input-pass
                            button.btn.btn_main Изменить
                        input(type="hidden" name="step" value="1")
                        //- .form-group
                        //-     .form-group_data
                        //-         button.btn.btn_main Войти