+b.FOOTER.footer
    +e.wrap.wrap 
        +e.top.flex._vertical
            +e.A.logo.logo(href='/')
                img(src="/app/img/logo-w.svg" alt="Логотип")
            +e.top-right
                +e.A.phone.h3(href="tel:8 (996) 925-98-97") 8 (996) 925-98-97
                +e.A.email(href="mailto:help@cdtmail.ru") 
                    +icon('mail')
                    .text.link info@сенсет.рф
        +e.middle.flex._justify._vertical
            +e.left
                +e.address.h3 г. Самара, #[br]ул. Стара-загора, д. 79
            +e.right
                +e.UL.ul.flex.h4
                    +e.LI.li
                        +e.A.li-link(href="#") Сведения об организации
                    +e.LI.li
                        +e.A.li-link(href="#") Типы датчиков
                    +e.LI.li
                        +e.A.li-link(href="#") Контакты
    +e.bottom ©2020  Сенсерные сети


//- +b.FOOTER.footer(data-scroll-section)
//- 	+e.inner
//- 		+e.wrap.wrap
//- 			+e.top.flex._justify._vertical
//- 				+e.A.logo.logo__._dark(href='/')
//- 					+icon('logo')
//- 				+e.A.up.up-link__(href="#")
//- 					+e.text.h5 В начало
//- 					+e.icon
//- 						+icon('up')
//- 			+e.middle.flex
//- 				+e.cell._left.css-hide-mobile.flex._justify
//- 					+e.middle-part._left
//- 						+e.label
//- 							+e.A.phone.h2(href="tel:+78005511620") 8 800 551 16 20
//- 						+e.label
//- 							+e.A.mail.h5(href="mailto:info@veritas-ins.ru") info@veritas-ins.ru
//- 					+e.middle-part._right
//- 						+border-button(class="js-modal" href='#recall') Заказать звонок
//- 					+e.middle-part._left
//- 						+e.help.p Главный офис: 
//- 						+e.text.h5
//- 							| Санкт-Петербург, Белоостровская 17/2
//- 							| БЦ Авантаж, офис 807
//- 					+e.middle-part._right
//- 						+e.social.social__.flex._right.UL
//- 							+e.LI.item
//- 								+e.A.link._telegram(href="#" target="_blank")
//- 									+icon('telegram')
//- 							+e.LI.item
//- 								+e.A.link._wa(href="#" target="_blank")
//- 									+icon('wa')
//- 				+e.cell._right.flex._justify
//- 					+e.box
//- 						+e.box-title.h4
//- 							| Юр. Лица
//- 						+e.box-list.UL
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") СМР
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Имущество
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Грузы
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Склады и ТМЦ
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Производство
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Спецтехника
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") ГО для членов СРО
//- 					+e.box
//- 						+e.box-title.h4
//- 							| Физ. Лица
//- 						+e.box-list.UL
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") ОСАГО
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") КАСКО
//- 							+e.box-item.LI
//- 								+e.box-link.p.A(href="#") Ипотечное страхование
//- 			+e.middle.flex
//- 				+e.cell._left._pad.flex._vertical._justify
//- 					+e.req.h5
//- 						+e.req-name ИНН
//- 						+e.req-code 7814755010
//- 					+e.req.h5
//- 						+e.req-name ОГРН
//- 						+e.req-code 1197847058474
//- 					+e.req.h5.css-hide-mobile
//- 						+e.req-name КПП
//- 						+e.req-code 781401001
//- 				+e.cell._right._pad.flex._vertical._right
//- 					+e.more.right-link__.h5.js-modal.A(href="#requisites")
//- 						+e.text Все реквизиты
//- 						+e.icon
//- 							+icon('arrowLong')
//- 			+e.middle.flex.css-show-mobile
//- 				+e.cell._mobile
//- 					+e.middle-part._left
//- 						+e.label
//- 							+e.A.phone.h2(href="tel:+78005511620") 8 800 551 16 20
//- 						+e.label
//- 							+e.A.mail.h5(href="mailto:info@veritas-ins.ru") info@veritas-ins.ru
//- 					+e.middle-part._right
//- 						+e.social.social__.flex._right.UL
//- 							+e.LI.item
//- 								+e.A.link._telegram(href="#" target="_blank")
//- 									+icon('telegram')
//- 							+e.LI.item
//- 								+e.A.link._wa(href="#" target="_blank")
//- 									+icon('wa')
//- 				+e.cell._mobile._border
//- 					+e.help.p Главный офис: 
//- 					+e.text.h5
//- 						| Санкт-Петербург, Белоостровская 17/2
//- 						| БЦ Авантаж, офис 807
//- 			+e.bottom.flex._justify._vertical
//- 				+e.gray.p © Все права защищены 2020 г.
//- 				+e.gray._polit.p.A(href='#') Политика конфиденциальности
//- 				+e.gray._creator.p.A(href='https://karanikola.ru' target="_blank")  
//- 					| Дизайн и разработка - 
//- 					span Karanikola