+b.HEADER.header
	+e.wrap.wrap
		+e.top.flex._vertical._justify
			+e.A.logo.logo(href='/')
				img(src="/app/img/logo.svg" alt="Логотип")
			+e.right.flex._vertical
				+e.connection.flex._column
					+e.name.h3 Кирилл Мальцев
				+e.log-out.h3.btn._main.flex._vertical Выйти
	+e.bottom.flex._vertical._justify
		+e.UL.ul.flex
			+e.LI.li
				+e.A.li-link(href="/transmit-data") ПЕРЕДАТЬ ПОКАЗАНИЯ
			+e.LI.li
				+e.A.li-link(href="/history-data") ИСТОРИЯ ПОКАЗАНИЙ
			+e.LI.li
				+e.A.li-link(href="/settings") НАСТРОЙКИ






//- +b.HEADER.header.header__
//- 	+e.wrap.wrap
//- 		+e.top.flex._justify._vertical
//- 			+e.top-cell._left.flex._vertical
//- 				+e.A.logo.logo__(href='/')
//- 					+icon('logo')
//- 				+e.switch._tablet
//- 					+e.switch-item.p.is-active Юр. лицам
//- 					+e.switch-item.p.js-modal(data-modal="#another") Физ. лицам
//- 			+e.top-cell.right.flex._vertical
//- 				+e.phone.h5.A(href="tel:+78005511620")
//- 					| 8 800 551 16 20
//- 				+e.box.flex
//- 					+e.box-cell._left
//- 						+e.A.box-link.js-modal(href='#recall')
//- 							+e.box-text.h5 Заказать звонок
//- 							+e.box-arrow
//- 								+icon("arrowLong")
//- 					+e.box-cell._right
//- 						+e.hamburger.js-open-menu
//- 							+icon("hamburger")
//- 		+e.bottom.flex._justify._bottom
//- 			+e.bottom-cell._left
//- 				+e.switch._default
//- 					+e.switch-item.p.is-active Юр. лицам
//- 					+e.switch-item.p.js-modal(data-modal="#another") Физ. лицам
//- 			+e.bottom-cell._right
//- 				+e.menu.js-menu
//- 					+e.menu-border.js-border
//- 					+e.menu-item
//- 						+e.menu-link.p.is-active.A(href='#') СМР
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') Имущество
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') Грузы
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') Склады и ТМЦ
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') Производство
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') Спецтехника
//- 					+e.menu-item
//- 						+e.menu-link.p.A(href='#') ГО для членов СРО