//- +b.modals._recall.mfp-hide#recall
//- 	+e.row.flex._vertical
//- 		+e.cell._bg
//- 			+e.IMG.back.object-fit(src="/img/manager.jpg")
//- 		+e.cell._form
//- 			+e.FORM.form(action="/mail/")
//- 				+e.title.h2 Помощь менеджера
//- 				+input('Имя', 'Евгений', 'name')
//- 				+input('Телефон', '+7 ( ___ ) ___ - __ - __', 'phone')
//- 				+button(false) Отправить заявку

//- +b.modals._recall.mfp-hide#another
//- 	+e.center
//- 		+e.title.h2 Другие наши услуги
//- 		+e.row.flex._justify.another__
//- 			+e.item.A(href="#" target="_blank")
//- 				+e.preview.DIV
//- 					+e.IMG.image(src="/img/another_1.jpg")
//- 				+e.name.h4.DIV ОСАГО
//- 			+e.item.A(href="#" target="_blank")
//- 				+e.preview.DIV
//- 					+e.IMG.image(src="/img/another_2.jpg")
//- 				+e.name.h4.DIV КАСКО
//- 			+e.item.A(href="#" target="_blank")
//- 				+e.preview.DIV
//- 					+e.IMG.image(src="/img/another_3.jpg")
//- 				+e.name.h4.DIV Ипотечное страхование

//- +b.modals._thanks.mfp-hide#thanks
//- 	+e.block.thanks__
//- 		+e.inner
//- 			+e.icon
//- 				+icon("check")
//- 			+e.title.h2 Спасибо за обращение!
//- 			+e.text.middle Наши менеджеры свяжутся с вами в ближайшее время

//- +b.modals._req.mfp-hide#requisites
//- 	+e.top
//- 		+e.A.logo.logo__._dark(href='/')
//- 			+icon('logo')
//- 	+b.req
//- 		+e.title.h3 Реквизиты
//- 		+e.row.flex
//- 			+e.cell
//- 				+e.part
//- 					+e.label Полное наименование партнера
//- 					+e.text
//- 						| Общество с ограниченной ответственностью «ВЕРИТАС СТРАХОВАНИЕ»
//- 				+e.part._tobottom
//- 					+e.label Сокращенное наименование партнера
//- 					+e.text
//- 						| ООО«ВЕРИТАС СТРАХОВАНИЕ»
//- 				+e.part
//- 					+e.label._dark Сведения о государственной регистрации:
//- 					+e.label._lh33 ОГРН
//- 					+e.text._big
//- 						| 1197847058474
//- 				+e.part
//- 					+e.label._lh33 ИНН
//- 					+e.text._big
//- 						| 7814755010
//- 				+e.part._tobottom
//- 					+e.label._lh33 Юридический адрес
//- 					+e.text._big
//- 						| 197374 г. Санкт-Петербург, Приморский пр., 62 к.1 стр.1, пом. 151-Н
//- 			+e.cell
//- 				+e.part
//- 					+e.label._dark Банковские реквизиты
//- 					+e.label._lh33 Р/С
//- 					+e.text._big 40702.810.8.55000044239

//- 					+e.label._lh33 БИК
//- 					+e.text._big 044030653

//- 					+e.label._lh33 Наименование
//- 					+e.text._big СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК

//- 					+e.label._lh33 К/С
//- 					+e.text._big 30101.810.5.00000000653
//- 			+e.cell
//- 				+e.part._big
//- 					+e.label._dark Контактная информация:
//- 					+e.label._lh33 Фактический адрес
//- 					+e.text._big 
//- 						| 197342 г. Санкт-Петербург, ул. Белоостровская, д. 17, к. 2, лит. А, БЦ «Avantage», офис 807
//- 				+e.part._big
//- 					+e.label._lh33 Номера телефонов, факса
//- 					+e.A.phone.h4(href="tel:+78005511620") 8 800 551 16 20
//- 				+e.part._big._tobottom
//- 					+e.label._lh33 Адрес электронной почты
//- 					+e.A.mail.p(href="mailto:info@veritas-ins.ru") info@veritas-ins.ru
					