.footer {
    background: linear-gradient(to top, #525254eb, #525254e8), url("/img/footer.jpg") center/cover no-repeat;
    color: $white;
    padding: 6.5rem 0 0;
    &__top {
        &-right {
            margin-left: auto;
        }
    }
    &__logo {
        width: 25rem;
    }
    &__phone {
        display: inline-block;
        margin-bottom: 1rem;
    }
    &__middle {
        padding: 5rem 0;
    }
    &__email {
        display: flex;
        .icon {
            width: 2.5rem;
            fill: $white;
            margin-right: 1rem;
        }
    }
    &__li {
        &:not(:last-child) {
            margin-right: 7rem;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        background: #1e1e1e;
        padding: 10px 10rem;
        .link {
            margin-left: auto;
        }
    }
}